

.container p{
	font-size:large;
	font-weight:bold;
}	


.product-card {
	width: 600px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	margin: 50px auto;
	background-color: black;
}
	


.product-catagory {
	margin: 10px;
}


.product-details {
	padding: 30px;
}


a {
	text-decoration: none;
}

.product-catagory {
	display: block;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 18px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: #363636;
	text-decoration: none;
	transition: 0.3s;
}

.product-details h4 a:hover {
	color: #fbb72c;
}

.product-details p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #999;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-bottom-details div {
	float: left;
	width: 50%;
}

.product-price {
	font-size: 18px;
	color: #fbb72c;
	font-weight: 600;
}

.product-price small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}

.product-links {
	text-align: right;
}

.product-links a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 17px;
}

.product-links a:hover {
	color: #fbb72c;
}







.product-catagory {
	margin: 10px;
}
.product-thumb {
	padding: 20px;
	margin: 50px 0px 0px 0px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 300px;
}


.product-card {
	width: 600px;
	position: relative;
	box-shadow: 0 2px 7px #dfdfdf;
	margin: 50px auto;
	background-color: black;
}

.badge {
	position: absolute;
	left: 0;
	top: 20px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 700;
	background: red;
	color: #fff;
	padding: 3px 10px;
}

.product-thumb img {
	max-width: 100%;
	max-height: 100%;
}

.product-details {
	padding: 30px;
}


a {
	text-decoration: none;
}

.product-catagory {
	display: block;
	font-size: 12px;
	font-weight: 700;
	text-transform: uppercase;
	color: #ccc;
	margin-bottom: 18px;
}

.product-details h4 a {
	font-weight: 500;
	display: block;
	margin-bottom: 18px;
	text-transform: uppercase;
	color: #363636;
	text-decoration: none;
	transition: 0.3s;
}

.product-details h4 a:hover {
	color: #fbb72c;
}

.product-details p {
	font-size: 15px;
	line-height: 22px;
	margin-bottom: 18px;
	color: #999;
}

.product-bottom-details {
	overflow: hidden;
	border-top: 1px solid #eee;
	padding-top: 20px;
}

.product-bottom-details div {
	float: left;
	width: 50%;
}

.product-price {
	font-size: 18px;
	color: #fbb72c;
	font-weight: 600;
}

.product-price small {
	font-size: 80%;
	font-weight: 400;
	text-decoration: line-through;
	display: inline-block;
	margin-right: 5px;
}

.product-links {
	text-align: right;
}

.product-links a {
	display: inline-block;
	margin-left: 5px;
	color: #e1e1e1;
	transition: 0.3s;
	font-size: 17px;
}

.product-links a:hover {
	color: #fbb72c;
}